@import '../../../../global-styles/variables';

.carrier-logo-container {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 132px;
  gap: 8px;
  color: $COLOR-PRIMARY;
  font-weight: 400;
  font-size: 18px;
}
