$COLOR-PRIMARY: #5C5C5C;
$COLOR-PRIMARY-LIGHT: #B7BAC1;
$COLOR-PRIMARY-LIGHT-XL: #C4C4C4;
$COLOR-PRIMARY-LIGHT-XXL: #ffffff;
$COLOR-PRIMARY-DARK: #232323;
$COLOR-SECONDARY: #3E67B7;
$COLOR-SECONDARY-LIGHT: #5C87DB;
$COLOR-SECONDARY-LIGHT-XL: #8BA5D8;
