@import '../../global-styles/variables';

.flightset-container {
  box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
  border-radius: 15px;
  background-color: $COLOR-PRIMARY-LIGHT-XXL;
  display: flex;
  width: 980px;
  margin: 70px auto 0 auto;

  .flight-segments-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

}

.dot-line {
  width: 646px;
  height: 0px;
  outline: 1px dashed $COLOR-SECONDARY-LIGHT;
  align-self: flex-end;
}